#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  margin: 1rem;
}

a:hover {
  color: antiquewhite;
}

.active {
  color: red;
}